<appSettings>
  <!--Sandbox環境-->
  <!--取得商業收付API 網址-->
  <add key="QPayWebAPIUrl" value="https://apisbx.sinopac.com/funBIZ/QPay.WebAPI/api/"/>
  
  <!--依商店編號取得商店雜湊值(依A1, A2, B1, B2排序, 商業收付提供)-->
  <add key="NA0001_001" value="65960834240E44B7,2831076A098E49E7,CB1AFFBF915A492B,7F242C0AA612454F"/>
</appSettings>


